<section>
  <div class="row">
    <div class="col-lg-5 col-md-2">
      <img
        src="../../../../assets/log-in img.png "
        class="img img-fluid w-100"
      />
    </div>
    <div class="col-lg-5 col-md-2 container-fluid">
      <img src="../../../../assets/logo.png" class="mx-5 py-5 logo" />
      <p class="text-secondary text-center">Create new account</p>
      <h2 class="text-center">Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <label class="fw-semibold">First-Name</label>
        <div class="example-container">
          <mat-form-field class="py-3 w-100">
            <mat-label>Enter your First-Name</mat-label>
            <input
              matInput
              placeholder="john"
              formControlName="first_name"
              required
            />
          </mat-form-field>
        </div>
        <label class="fw-semibold">Last-Name</label>
        <div class="example-container">
          <mat-form-field class="py-3 w-100">
            <mat-label>Enter your Last-Name</mat-label>
            <input
              matInput
              placeholder="doe"
              formControlName="last_name"
              required
            />
          </mat-form-field>
        </div>
        <label class="fw-semibold">E-mail</label>
        <div class="example-container">
          <mat-form-field class="py-3 w-100">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />
          </mat-form-field>
        </div>

        <label class="fw-semibold">Password</label>
        <mat-form-field class="py-3 w-100">
          <mat-label>Enter your password</mat-label>
          <input matInput type="text" formControlName="password" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="isHide = !isHide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isHide"
          >
            <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select formControlName="role">
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Customer">Customer</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="warn" class="w-100 my-4">
          Register
        </button>
        <button
          mat-raised-button
          class="w-100"
          routerLink="/auth/login"
          type="button"
        >
          Log-In
        </button>
      </form>
    </div>
  </div>
</section>
